
.back{
    width: 100vh;
    height: 100vh;
    background-color: black;
    top: 234px;
    left: 110px;
    color: black;
    border-radius: 20px;
    opacity: 0.6;
    position: absolute;
    text-align: center;
    z-index: 1;
}
}
.button-red{
    width: 100px;
    height: 100px;
    background-color: red;
    top: 234px;
    left: 110px;
    color: black;
    border-radius: 20px;
    opacity: 0.6;
    position: absolute;
    text-align: center;
    z-index: 2;
}