
.button-red{
    width: 100px;
    height: 100px;
    background-color: red;
    top: 150px;
    left: 150px;
    color: black;
    border-radius: 20px;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
}